:root{
    --them-color:red;
}
.card-head{
    background-color:var(--them-color);
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
img{
    width: 100px;
    height: 70px;

}
.round{
    border-radius: 10%;
    height: 330px;
}
h5{
    color: var(--them-color);
}
button{
    width: 100px;
}
li{
    list-style: none;
    width: 30px;
    height: 20px;

}